@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

header {
    background-color: aquamarine;
    width: 100%;
    height: 150px;
}

nav {
    background-color: darkcyan;
    display: inline-block;
    width: 20%;
    height: calc(100vh - 150px);
}

main {
    background-color: blue;
    display: inline-block;
    width: calc(79%);
    height: calc(100vh - 150px);
}